<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="atatic/css/styleRegister.css">
    <Script src="static/js/appRegister.js"></Script>
    <title>Web App</title>
</head>
<body>
    <h1> Register </h1>
    <form>
        <label> Identificacion </label> <input> <br> <br>
        <label> Nombres </label> <input> <br> <br>
        <label> Apellidos </label> <input> <br> <br>
        <label> Fecha Cumple </label> <input> <br> <br>
        <button onclick="register_user()"> Register </button>
    </form>
</body>
</html>